#header{
    width: 100%;
    height: 100vh;
    background-image: url(../Images/Desktop\ BG.png);
    background-position: center;
    background-size: cover;
}

.section{
    height: 100vh;
}

.tab{
    text-decoration: none;
    color: black;
    font-size: large;
}

.tab:hover{
    opacity: .8;
    color: black;
    text-decoration: underline;
}

.tabBtn{
    border-radius: 3px 3px 0px 0px;
    background-color: white;
    /* padding: 5px; */
    /* padding-left: 30px;
    padding-right: 30px; */
}

.tabBtn:hover{
    background-color: rgb(175, 175, 175);
    border-radius: 10px 10px 0px 0px;
}

.accordion-container{
    border-radius: 0px 3px 3px 3px;
}

.clickable:hover{
    cursor: pointer;
    opacity: 0.8;
}

.form-field{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(196, 196, 196);
}


a:hover{
    opacity: 0.8;
}
